:root {
  font-family: Heading Lg, Heading Md, Heading Sm, Heading Xs, Body Lg, Body Md,
    Body Sm, Body Xs, Button;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Body Lg;
  text-align: center;
  font-size: 22px;
}

.banner {
  text-align: center;
  padding: 20px;
}

.image-logo {
  width: 150px;
  margin: 0 auto;
  margin-top: 204px;
  display: block;
}

.app {
  position: relative;
  text-align: center;
}

.banner {
  text-align: center;
  margin-bottom: 20px;
}

.trip-summary {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  margin: 20px;
}

.trip-details {
  display: flex;
  justify-content: space-between;
}

.trip-participants {
  margin-top: 10px;
}

.confirm-button {
  display: block;
  background: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}
